@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing :border-box;
    margin: 0;
}

body{
    margin:0;
    font-family: Roboto, sans-serif;
    color: lightgrey;
}

/*Header*/

header{
    background-color: black;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 50px;
}

/*Main section*/

main {
    background-color:black;
    background-image: url("img/chess-knights-background.jpg");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 75vh;
    padding:10px;
    width: 100vw;  
}

/*Info step*/

#infos{
    justify-content: space-between;
    height: 30vh;
}

/*Instructions step*/

#instructions{
    display: flex;   
    flex-direction: column;
    justify-content: flex-start; 
}

@media screen and (max-height: 400px) {
    #instructions {
    flex-direction: row;   
    }

    .instruction {
       font-size: 12px;
    }

    #instructions h2{
        font-size: 14px; 
     }
    
    #instructions button{
        margin-left: 20px;
    }
}

.instruction {
    list-style: none;
    display:flex;
    align-items: center;
    background-color: rgba(0,0,0,0.4); 
    border-radius: 30px;
}

.instruction img{
   width: 40px;
   margin: 10px;
}

#instructions button{
    margin-top: 20px;
}


/*Timer step*/

#timer-step{
    justify-content: space-between;
}

#clock-timer{
    height: 30px;
    margin-left: 10px;
}



/*Footer*/

footer {
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin-left: 12px;
    font-size: 12px;
}

footer img{
    height: 20px;
}

/*Buttons*/

.btn{
    padding: 10px;
    width: 130px;
    border: solid 1px lightgrey;
    font-weight: bold;
    border-radius: 20px;
    font-size: 15px;
}

.btn1{
    background-color: black;
    color: lightgrey;
}

.btn2{
    background-color: lightgrey;
    color: black;  
}

.btn1:hover{
    background-color: lightgrey;
    color: black;
}

.circle-btn{
    height: 40px;
    width: 40px;
    border: solid 1px lightgrey;
    font-weight: bold;
    border-radius: 40px;
    font-size: 15px;
}

/*Display classes and step transitions*/

.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 80vw;
    height: 60vh;  
}

.step h2{
    text-align: center;
}

.hide{    
    left: -1000vw;
    opacity: 0;
    transition: left 2.5s ease-in-out, opacity ease-in 1s;
}

.show{
    opacity: 1;
    transition: opacity 1.5s ease-in-out 0.5s;
}


